
.card-info{
    max-width: 1100px;
    min-width: 280px;
    height: 250px;
}

.info{
    padding: 10px;
    font-size: 30px;
}

.title-about{
    font-size: 50px;
    font-family: 'Satisfy', cursive;
}